@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/RalewayRegular.eot');
    src: url('fonts/RalewayRegular.eot') format('embedded-opentype'), url('fonts/RalewayRegular.woff2') format('woff2'), url('fonts/RalewayRegular.woff') format('woff'), url('fonts/RalewayRegular.ttf') format('truetype'), url('fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('fonts/RalewayBold.eot');
    src: url('fonts/RalewayBold.eot') format('embedded-opentype'), url('fonts/RalewayBold.woff2') format('woff2'), url('fonts/RalewayBold.woff') format('woff'), url('fonts/RalewayBold.ttf') format('truetype'), url('fonts/RalewayBold.svg#RalewayBold') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'), url('fonts/OpenSansRegular.woff2') format('woff2'), url('fonts/OpenSansRegular.woff') format('woff'), url('fonts/OpenSansRegular.ttf') format('truetype'), url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

:root {
    --dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --max-width: 1440px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* limit overgrowth*/

.width {
    max-width: var(--max-width);
    margin: auto;
}


/* Base styles*/

body {
    margin: 0;
}

h1,
h2,
h3,
button {
    font-family: 'RalewayBold';
}

input {
    font-family: 'RalewayRegular';
}

p {
    font-family: 'OpenSansRegular';
}

ul {
    list-style: none;
    padding: 0;
}

a {
    font-family: 'OpenSansRegular';
    text-decoration: none;
}


/* Header styles*/

header a {
    color: black;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.width {
    padding: 1rem;
}

header img {
    max-width: 5rem;
    max-height: 2rem;
    margin-left: .5rem;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    margin-right: 1rem;
}

main {
    margin: auto;
    text-align: center;
}

.files {
    max-width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

.width>div {
    padding-top: 4rem;
}

.width div img {
    max-width: 20rem;
    margin: .25rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    margin: 1rem auto;
    padding: .5rem 1rem;
    width: 90%;
    height: 40px;
    border: 1px solid black;
    border-radius: .25rem;
}

input::placeholder {
    opacity: .5;
}

button {
    background-color: var(--bright-blue);
    color: var(--grayish-blue);
    width: 90%;
    height: 40px;
    margin: auto;
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 3px 10px hsl(243, 87%, 12%, .2);
}

.pro {
    background: url(images/bg-curve-mobile.svg) no-repeat;
    padding-top: 3.3rem;
    margin-top: 4rem;
}

.productive {
    background-color: var(--grayish-blue);
    padding-top: 1rem;
}

.productive>div {
    padding: 1.5rem 1rem;
}

.productive * :not(h2) {
    text-align: left;
}

.productive aside {
    background-color: white;
    max-width: 85%;
    margin: 2rem auto;
    padding: 1rem 1rem 1rem 2rem;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 1px 1px 10px hsla(243, 87%, 12%, .2);
    border-radius: .25rem;
}

.productive a {
    color: var(--moderate-cyan);
    /*text-decoration: underline;
    text-decoration-color: var(--moderate-cyan);
    text-underline-offset: .5rem;*/
    border-bottom: .1rem solid var(--moderate-cyan);
    display: flex;
    width: fit-content;
    margin: auto;
}

.productive a>p {
    margin: 0 0 .5rem;
}

.productive a>img {
    margin: 0 0 .5rem .5rem;
    align-self: center;
    max-width: 2rem;
    height: 1.5rem;
}


/*.productive a::after {
    content: url(images/icon-arrow.svg);
}*/

aside>p {
    margin-top: 0;
}

.founder {
    display: flex;
    align-items: center;
}

aside .founder>img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.founder span * {
    margin: .25rem;
}

span>p {
    font-size: .6rem;
}

.access {
    background-color: var(--desaturated-blue);
    color: var(--grayish-blue);
    padding-bottom: 4rem;
}

.access>* {
    width: 85%;
    margin: 1rem auto;
}

.access form {
    width: 80%;
}

.foot {
    background-color: var(--dark-blue);
    padding: 3.5rem 2.5rem;
    color: var(--grayish-blue);
}

.foot>div {
    padding-top: 1rem;
}

.foot img {
    filter: brightness(0) invert(1);
}

.foot a {
    color: var(--grayish-blue);
}

.foot p:nth-child(1)::before {
    content: url(images/icon-phone.svg);
    margin-right: 1rem;
}

.foot p:nth-child(2)::before {
    content: url(images/icon-email.svg);
    margin-right: 1rem;
}

.foot ul {
    line-height: 2;
    margin: 2rem 0;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    border-radius: 50%;
    width: 35px;
    border: 1px solid whitesmoke;
    margin: 0 .5rem;
    padding: .5rem;
    color: white;
    text-decoration: none;
    outline: none;
    text-align: center;
}


/* Hover states*/

button:hover {
    cursor: pointer;
    background-color: hsl(224, 93%, 58%, .6);
}

header a:hover,
.foot a:hover {
    color: hsl(224, 93%, 68%);
    border-color: hsl(224, 93%, 68%);
}

.productive a:hover {
    filter: brightness(1.4);
}

@media screen and (min-width: 376px) {
    .pro {
        background: url(images/bg-curve-desktop.svg) no-repeat;
        background-size: 100%;
    }
}


/* Desktop view*/

@media screen and (min-width: 1000px) {
    h1,
    h2,
    h3,
    p {
        text-align: left;
    }
    nav.width {
        padding: 2rem 5%;
    }
    header img {
        max-width: 8rem;
        max-height: 3rem;
        margin-top: .5rem;
    }
    header ul {
        column-gap: 1.5rem;
    }
    .files {
        max-width: 100%;
    }
    .files>div {
        margin-left: 10%;
    }
    .width>div {
        padding-top: 2rem;
    }
    .width div img {
        max-width: 27rem;
    }
    .reverse {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        column-gap: 2rem;
    }
    .reverse>img {
        grid-column: 2/3;
        grid-row: 1;
    }
    .reverse>div {
        grid-column: 1/2;
        grid-row: 1;
    }
    .files form {
        flex-direction: row;
    }
    .files input[type="email"] {
        margin: 1rem 0;
        width: 55%;
    }
    button {
        width: 40%;
    }
    .productive>div {
        margin-left: 10%;
        padding: 1.5rem 0;
    }
    .productive a {
        margin: 0;
    }
    .productive aside {
        margin: 2rem 0;
        max-width: 65%;
    }
    .access {
        display: flex;
        align-items: center;
        column-gap: 5rem;
        padding: 4rem 5%;
    }
    .access>* {
        width: 100%;
        margin: 0;
        padding-top: 1rem;
    }
    .access form {
        width: 100%;
    }
    .access form>* {
        margin: .5rem 0;
    }
    .access button {
        width: 50%;
    }
    .foot {
        padding: 3.5rem 5%;
    }
    .Fnav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .Fnav::after {
        content: "";
        display: inline;
    }
    .foot ul {
        margin: 0;
    }
}